@model FoodPlanner.Models.Recipe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Edit Recipe</h4>
    <hr />
    <div class="row">
        <div class="col-md">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Portions" class="control-label"></label>
                    <input asp-for="Portions" class="form-control" />
                    <span asp-validation-for="Portions" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cuisine" class="control-label"></label>
                    <div class="row" id="CuisineRow">
                        <div class="col-8" id="CuisineDropdown">
                            <select name="CuisineId" class="form-control selectpicker" data-live-search="true">
                                <optgroup label="None">
                                    <option value="0">None</option>
                                </optgroup>
                                @{var cuisines = (List<Cuisine>)ViewBag.Cuisines;}
                                @foreach (var name in cuisines.Select(c => c.Name).Distinct().ToList())
                                {
                                    <optgroup label="@name">
                                        @foreach (var cuisine in cuisines.Where(c => c.Name == name))
                                        {
                                            if (Model.Cuisine != null && Model.Cuisine.Name == cuisine.Name)
                                            {
                                                <option value="@cuisine.Id" selected>@cuisine.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@cuisine.Id">@cuisine.Name</option>
                                            }
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                        <div class="col-4" id="NewCuisineButton">
                            <a class="btn btn-primary" asp-controller="Cuisines" asp-action="Create" asp-route-returnUrl="@Context.Request.Path">Add New Cuisine</a>
                        </div>
                    </div>
                    <span asp-validation-for="Cuisine" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col">
                        Ingredients:
                    </div>
                </div>

                <div class="form-group" id="IngredientList">
                    <div class="row" name="IngredientRow" id="IngredientRow">
                        <div class="col-6">
                            <select name="ProductIds" class="form-control selectpicker" data-live-search="true">
                                <optgroup label="None">
                                    <option value="0">None</option>
                                </optgroup>
                                @{var products = (List<Product>)ViewBag.Products;}
                                @foreach (var category in products.Select(p => p.Category.Name).Distinct().ToList())
                                {
                                    <optgroup label="@category">
                                        @foreach (var product in products.Where(p => p.Category.Name == category))
                                        {
                                            <option value="@product.Id">@product.Name @product.ProductType.Name</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                        <div class="col-2">
                            <input name="Quantities" type="number" step="0.01" min="0" value="0" style="width: inherit;" />
                        </div>
                        <div class="col">
                            <select name="Units"
                                    class="form-control"
                                    asp-items="Html.GetEnumSelectList<FoodPlanner.Classes.Unit>()">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col">
                        <input type="submit" name="add_ingredient" value="Add" class="btn btn-primary" />
                        <i style="padding-left: 50px;"></i>
                        <a class="btn btn-primary" asp-controller="Products" asp-action="Create">New Ingredient</a>
                    </div>
                </div>

                <hr />

                @foreach (var ingredient in Model.Ingredients)
                {
                    <div class="row">
                        <div class="col-11">
                            @Html.DisplayFor(i => ingredient)
                        </div>
                        <div class="col-1">
                            <a asp-action="DeleteIngredient" asp-route-recipe_id="@Model.Id" asp-route-recipe_ingredient_id="@ingredient.Id" asp-route-edit="true"><i class="far fa-times-circle"></i></a>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-6" style="text-align: left;">
            <a class="nav-link navbar-link dark btn-coffee" asp-action="Index">Back to List</a>
        </div>
        <div class="col-6" style="text-align: right;">
            <a class="nav-link navbar-link dark btn-danger" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to delete this?')"><b>Delete</b></a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
