@{
    ViewData["Title"] = "Home Page";

    FoodPlan todaysFoodPlan = new FoodPlan();
    if (ViewData.ContainsKey("TodaysFoodPlan"))
    {
        todaysFoodPlan = (FoodPlan)ViewData["TodaysFoodPlan"];
    }
    var tomorrowsFoodPlan = new FoodPlan();
    if (ViewData.ContainsKey("TomorrowsFoodPlan"))
    {
        tomorrowsFoodPlan = (FoodPlan)ViewData["TomorrowsFoodPlan"];
    }

    var latestRecipes = new List<Recipe>();
    if (ViewData.ContainsKey("LatestRecipes"))
    {
        latestRecipes = (List<Recipe>)ViewData["LatestRecipes"];
    }

    ShoppingList shoppingList = null;
    if (ViewData.ContainsKey("ShoppingList"))
    {
        shoppingList = (ShoppingList)ViewData["ShoppingList"];
    }
}

<div id="summary" class="container-fluid">
    <div id="foodplan-summary" class="card homepage-summary">
        <div class="card-header" style="display: flex;">
            <div>
                <img src="~/images/schedule.svg" alt="Food Plans" height="50" width="50" />
            </div>
            <div class="summary-title flex">
                <h2>Food Plans</h2>
            </div>
            <div>
                <a class="nav-link navbar-link dark btn-alternative" asp-area="" asp-controller="Foodplans" asp-action="Index">See All</a>
            </div>
        </div>
        <div class="card-body foodplan-summary-days">

            <table id="foodplan-calendar" class="foodplan-border">
                <tr>
                    <td>

                    </td>
                    <td class="day foodplan-border" style="border: none; border-top-left-radius: 5px;">
                        Today
                    </td>
                    <td class="day foodplan-border" style="border: none; border-left: 2px solid black; border-top-right-radius: 5px;">
                        Tomorrow
                    </td>
                </tr>
                <tr>
                    <td class="meal foodplan-border">
                        <img src="~/images/breakfast.svg" alt="Breakfast" height="30" width="30" class="meal-logo" /> Breakfast
                    </td>
                    <td class="content foodplan-border">
                        @if (todaysFoodPlan.Recipes.Where(fp => fp.Meal == Meal.Breakfast).Any())
                        {
                            @foreach (var breakfast in todaysFoodPlan.Recipes.Where(r => r.Meal == Meal.Breakfast))
                            {
                                <div><a asp-controller="Recipes" asp-action="Details" asp-route-id="@breakfast.Recipe.Id">@breakfast.Recipe.Name</a></div>
                            }
                        }
                        <div class="foodplan-add">
                            <a asp-controller="FoodPlans" asp-action="Menu" asp-route-id="@todaysFoodPlan.Id" asp-route-foodplandate="@todaysFoodPlan.Date.ToBinary()" asp-route-mealType="@Meal.Breakfast.ToString()" asp-route-returnUrl="@Context.Request.Path"><i class="fas fa-plus" style="padding: 2px"></i></a>
                        </div>
                    </td>
                    <td class="content foodplan-border">
                        @if (tomorrowsFoodPlan.Recipes.Where(fp => fp.Meal == Meal.Breakfast).Any())
                        {
                            @foreach (var breakfast in tomorrowsFoodPlan.Recipes.Where(r => r.Meal == Meal.Breakfast))
                            {
                                <div><a asp-controller="Recipes" asp-action="Details" asp-route-id="@breakfast.Recipe.Id">@breakfast.Recipe.Name</a></div>
                            }
                        }
                        <div class="foodplan-add">
                            <a asp-controller="FoodPlans" asp-action="Menu" asp-route-id="@tomorrowsFoodPlan.Id" asp-route-foodplandate="@tomorrowsFoodPlan.Date.ToBinary()" asp-route-mealType="@Meal.Breakfast.ToString()" asp-route-returnUrl="@Context.Request.Path"><i class="fas fa-plus" style="padding: 2px"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="meal foodplan-border">
                        <img src="~/images/lunch-bag.svg" alt="Breakfast" height="30" width="30" class="meal-logo" /> Lunch
                    </td>
                    <td class="content foodplan-border">
                        @if (todaysFoodPlan.Recipes.Where(fp => fp.Meal == Meal.Lunch).Any())
                        {
                            @foreach (var lunch in todaysFoodPlan.Recipes.Where(r => r.Meal == Meal.Lunch))
                            {
                                <div><a asp-controller="Recipes" asp-action="Details" asp-route-id="@lunch.Recipe.Id">@lunch.Recipe.Name</a></div>
                            }
                        }
                        <div class="foodplan-add">
                            <a asp-controller="FoodPlans" asp-action="Menu" asp-route-id="@todaysFoodPlan.Id" asp-route-foodplandate="@todaysFoodPlan.Date.ToBinary()" asp-route-mealType="@Meal.Lunch.ToString()" asp-route-returnUrl="@Context.Request.Path"><i class="fas fa-plus" style="padding: 2px"></i></a>
                        </div>
                    </td>
                    <td class="content foodplan-border">
                        @if (tomorrowsFoodPlan.Recipes.Where(fp => fp.Meal == Meal.Lunch).Any())
                        {
                            @foreach (var lunch in tomorrowsFoodPlan.Recipes.Where(r => r.Meal == Meal.Lunch))
                            {
                                <div><a asp-controller="Recipes" asp-action="Details" asp-route-id="@lunch.Recipe.Id">@lunch.Recipe.Name</a></div>
                            }
                        }
                        <div class="foodplan-add">
                            <a asp-controller="FoodPlans" asp-action="Menu" asp-route-id="@tomorrowsFoodPlan.Id" asp-route-foodplandate="@tomorrowsFoodPlan.Date.ToBinary()" asp-route-mealType="@Meal.Lunch.ToString()" asp-route-returnUrl="@Context.Request.Path"><i class="fas fa-plus" style="padding: 2px"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="meal foodplan-border">
                        <img src="~/images/dinner.svg" alt="Breakfast" height="30" width="30" class="meal-logo" /> Dinner
                    </td>
                    <td class="content foodplan-border">
                        @if (todaysFoodPlan.Recipes.Where(fp => fp.Meal == Meal.Dinner).Any())
                        {
                            @foreach (var dinner in todaysFoodPlan.Recipes.Where(r => r.Meal == Meal.Dinner))
                            {
                                <div><a asp-controller="Recipes" asp-action="Details" asp-route-id="@dinner.Recipe.Id">@dinner.Recipe.Name</a></div>
                            }
                        }
                        <div class="foodplan-add">
                            <a asp-controller="FoodPlans" asp-action="Menu" asp-route-id="@todaysFoodPlan.Id" asp-route-foodplandate="@todaysFoodPlan.Date.ToBinary()" asp-route-mealType="@Meal.Dinner.ToString()" asp-route-returnUrl="@Context.Request.Path"><i class="fas fa-plus" style="padding: 2px"></i></a>
                        </div>
                    </td>
                    <td class="content foodplan-border">
                        @if (tomorrowsFoodPlan.Recipes.Where(fp => fp.Meal == Meal.Dinner).Any())
                        {
                            @foreach (var dinner in tomorrowsFoodPlan.Recipes.Where(r => r.Meal == Meal.Dinner))
                            {
                                <div><a asp-controller="Recipes" asp-action="Details" asp-route-id="@dinner.Recipe.Id">@dinner.Recipe.Name</a></div>
                            }
                        }
                        <div class="foodplan-add">
                            <a asp-controller="FoodPlans" asp-action="Menu" asp-route-id="@tomorrowsFoodPlan.Id" asp-route-foodplandate="@tomorrowsFoodPlan.Date.ToBinary()" asp-route-mealType="@Meal.Dinner.ToString()" asp-route-returnUrl="@Context.Request.Path"><i class="fas fa-plus" style="padding: 2px"></i></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="recipe-summary" class="card homepage-summary">
        <div class="card-header" style="display: flex;">
            <div>
                <img src="~/images/recipe.svg" alt="Recipes" height="50" width="50" />
            </div>
            <div class="summary-title flex">
                <h2>Recipes</h2>
            </div>
            <div>
                <a class="nav-link navbar-link dark btn-alternative" asp-area="" asp-controller="Recipes" asp-action="Index">See All</a>
            </div>
        </div>
        <div class="card-body" style="display: flex; flex-direction: column;">
            <div style="overflow-y: auto;">
                Recently added:
                <ul>
                    @foreach (var recipe in latestRecipes)
                    {
                        <li><a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">@recipe.Name</a></li>
                    }
                </ul>
            </div>
            <div style="height: 60px;">
                <hr />
                <a class="nav-link navbar-link dark btn-alternative" asp-area="" asp-controller="Recipes" asp-action="Create">Add NEW Recipe</a>
            </div>
        </div>
    </div>
    <div id="shoppinglist-summary" class="card homepage-summary">
        <div class="card-header" style="display: flex;">
            <div>
                <img src="~/images/grocery.svg" alt="Shopping Lists" height="50" width="50" />
            </div>
            <div class="summary-title flex">
                <h2>Shopping List</h2>
            </div>
        </div>
        <div class="card-body">
            @if (shoppingList != null)
            {
                <div>
                    <ul>
                        <li>
                            Generated for <em style="text-decoration: underline;">@shoppingList.ShoppingListSize days</em>
                        </li>
                        <li>
                            List contains <em style="text-decoration: underline;">@shoppingList.ShopItems.Count() items</em>
                        </li>
                    </ul>
                </div>
                <div style="height: 60px;">
                    <a class="nav-link navbar-link dark btn-alternative" asp-area="" asp-controller="Shoppinglists" asp-action="Details">View List</a>
                </div>
            }
            else
            {
                <text>No list generated</text>
            }
            <div style="height: 60px;">
                <hr />
                <a class="nav-link navbar-link dark btn-alternative" asp-area="" asp-controller="Shoppinglists" asp-action="RegenerateList" asp-route-Days="7">Generate NEW Weekly List</a>
            </div>
        </div>
    </div>
</div>
