@{
    ViewData["Title"] = "Home Page";

    FoodPlan todaysFoodPlan = new FoodPlan();
    if (ViewData.ContainsKey("TodaysFoodPlan"))
    {
        todaysFoodPlan = (FoodPlan)ViewData["TodaysFoodPlan"];
    }
    var tomorrowsFoodPlan = new FoodPlan();
    if (ViewData.ContainsKey("TomorrowsFoodPlan"))
    {
        tomorrowsFoodPlan = (FoodPlan)ViewData["TomorrowsFoodPlan"];
    }
}

<div id="summary" class="container-fluid">
    <div id="foodplan-summary" class="card homepage-summary">
        <div class="card-header" style="display: flex;">
            <div>
                <img src="~/images/schedule.svg" alt="Food Plans" height="50" width="50" />
            </div>
            <div class="summary-title flex">
                <h2>Food Plans</h2>
            </div>
            <div>
                <a class="nav-link navbar-link dark btn-alternative" asp-area="" asp-controller="Foodplans" asp-action="Index">See All</a>
            </div>
        </div>
        <div class="card-body foodplan-summary-days">
            <div id="foodplan-today" class="col-6 foodplan-summary-day">
                <h3>Today:</h3>
                <div class="card foodplan-meal-card">
                    <div class="card-header" style="display: flex; background-color: var(--tertiary-colour)">
                        <div>
                            <img src="~/images/breakfast.svg" alt="Food Plans" height="30" width="30" />
                        </div>
                        <div class="summary-title flex">
                            Breakfast
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var breakfast in todaysFoodPlan.Recipes.Where(r => r.Meal == FoodPlanner.Classes.Meal.Breakfast))
                        {
                            @breakfast.Recipe.Name
                        }
                    </div>
                </div>
                <div class="card foodplan-meal-card">
                    <div class="card-header" style="display: flex; background-color: var(--tertiary-colour)">
                        <div>
                            <img src="~/images/lunch-bag.svg" alt="Food Plans" height="30" width="30" />
                        </div>
                        <div class="summary-title flex">
                            Lunch
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var lunch in todaysFoodPlan.Recipes.Where(r => r.Meal == FoodPlanner.Classes.Meal.Lunch))
                        {
                            @lunch.Recipe.Name
                        }
                    </div>
                </div>
                <div class="card foodplan-meal-card">
                    <div class="card-header" style="display: flex; background-color: var(--tertiary-colour)">
                        <div>
                            <img src="~/images/dinner.svg" alt="Food Plans" height="30" width="30" />
                        </div>
                        <div class="summary-title flex">
                            Dinner
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var dinner in todaysFoodPlan.Recipes.Where(r => r.Meal == FoodPlanner.Classes.Meal.Dinner))
                        {
                            @dinner.Recipe.Name
                        }
                    </div>
                </div>
            </div>
            <div id="foodplan-tomorrow" class="col-6 foodplan-summary-day">
                <h3>Tomorrow:</h3>
                <div>
                    <img src="~/images/breakfast.svg" alt="Food Plans" height="30" width="30" /> -
                    @foreach (var breakfast in tomorrowsFoodPlan.Recipes.Where(r => r.Meal == FoodPlanner.Classes.Meal.Breakfast))
                    {
                        @breakfast.Recipe.Name
                    }
                </div>
                <div>
                    <img src="~/images/lunch-bag.svg" alt="Food Plans" height="30" width="30" /> -
                    @foreach (var lunch in tomorrowsFoodPlan.Recipes.Where(r => r.Meal == FoodPlanner.Classes.Meal.Lunch))
                    {
                        @lunch.Recipe.Name
                    }
                </div>
                <div>
                    <img src="~/images/dinner.svg" alt="Food Plans" height="30" width="30" /> -
                    @foreach (var dinner in tomorrowsFoodPlan.Recipes.Where(r => r.Meal == FoodPlanner.Classes.Meal.Dinner))
                    {
                        @dinner.Recipe.Name
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="recipe-summary" class="card homepage-summary">
        <div class="card-header" style="display: flex;">
            <div>
                <img src="~/images/recipe.svg" alt="Recipes" height="50" width="50" />
            </div>
            <div class="summary-title flex">
                <h2>Recipes</h2>
            </div>
            <div>
                <a class="nav-link navbar-link dark btn-alternative" asp-area="" asp-controller="Recipes" asp-action="Index">See All</a>
            </div>
        </div>
        <div class="card-body">
            Recently added:
        </div>
    </div>
    <div id="shoppinglist-summary" class="card homepage-summary">
        <div class="card-header" style="display: flex;">
            <div>
                <img src="~/images/grocery.svg" alt="Shopping Lists" height="50" width="50" />
            </div>
            <div class="summary-title flex">
                <h2>Shopping List</h2>
            </div>
        </div>
        <div class="card-body">
            Items:
            <a class="nav-link navbar-link dark btn-alternative" asp-area="" asp-controller="Shoppinglists" asp-action="RegenerateList" asp-route-Days="7">Generate Weekly List</a>
        </div>
    </div>
</div>
