@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject FoodPlanner.Data.FoodPlannerContext context
@{
    var user = await UserManager.GetUserAsync(User);
    var activeHouseholdName = "Not set";

    // Check if User has an ActiveHouseholdId
    if (user != null)
    {
        if (user.ActiveHouseholdId == 0)
        {
            // If it is 0, then it is not set, so set it to the 1st household found
            user.SetActiveHouseholdId(context);
        }

        if (user.Households == null || user.Households.Count == 0)
        {
            // Load households
            user.LoadHouseholds(context);
        }

        if (user.Households.Count > 0)
        {
            var households = user.Households.Where(hh => hh.Id == user.ActiveHouseholdId);
            if (households != null && households.Count() > 0)
            {
                activeHouseholdName = households.First().Name;
            }
        }
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && user != null)
    {
        <li class="nav-item">
            <a class="nav-link navbar-link btn-success" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user-cog"></i> @user.UserName</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="nav-link navbar-link btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-house-user"></i> @activeHouseholdName
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var household in user.Households)
                    {
                        <form class="form-inline" style="text-align: center;" asp-area="Identity" asp-page="/Account/ChangeActiveHousehold" asp-route-activeHouseholdId="@household.Id" asp-route-returnUrl="@Context.Request.Path">
                            <button type="submit" class="nav-link btn btn-link" style="width: 100%;">@household.Name</button>
                        </form>
                    }
                </div>
            </div>
        </li>
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link navbar-link btn-coffee">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link navbar-link btn-coffee" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-link btn-coffee" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
