@using FoodPlanner.Classes

@model FoodPlan

<div class="foodplancard card @if (Model.Date.Date == DateTime.Now.Date) {  <text>text-white bg-primary</text> } ">
    <div class="card-header">
        @Model.Date.ToShortDateString()
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Date.DayOfWeek.ToString()</h5>

        @foreach (var meal in new List<Meal>() { Meal.Breakfast, Meal.Lunch, Meal.Dinner, Meal.Snack, Meal.None })
        {
            @if (meal == Meal.None)
            {
                <text><b>Additional:</b></text>
            }
            else
            {
                <text><b>@meal:</b></text>
            }
            <hr />
            @foreach (var recipe in Model.Recipes.Where(r => r.Meal == meal))
            {
                <p class="card-text">
                    @recipe.Recipe.Name <a asp-action="DeleteItem" asp-route-foodplan_recipe_id="@recipe.Id"><i class="far fa-times-circle"></i></a>
                </p>
                <hr />
            }
            @foreach (var product in Model.Products.Where(r => r.Meal == meal))
            {
                <p class="card-text">
                    @product.Product.Name @product.Product.ProductType.Name <a asp-action="DeleteItem" asp-route-foodplan_product_id="@product.Id"><i class="far fa-times-circle"></i></a>
                </p>
                <hr />
            }
        }

        @if (Model.Id == 0)
        {
            <a class="btn @if (Model.Date.Date == DateTime.Now.Date) {  <text>btn-outline-light</text> } else { <text>btn-outline-primary</text> }" asp-area="" asp-controller="FoodPlans" asp-action="Create" asp-route-foodplandate="@Model.Date.ToBinary()" style="width: 100%; height: 100%;">
                Add
            </a>
        }
        else
        {
            <a class="btn @if (Model.Date.Date == DateTime.Now.Date) {  <text>btn-outline-light</text> } else { <text>btn-outline-primary</text> }" asp-area="" asp-controller="FoodPlans" asp-action="Add" asp-route-id="@Model.Id" style="width: 100%; height: 100%;">
                Add
            </a>
        }

    </div>
</div>